<h2>新規投稿</h2>

<%= form_with model: @post, url: public_posts_path, method: :post do |f| %>
<%= render 'public/posts/error', post: @post %>
<div>
  <%= f.label :image %><br>
  <%= f.file_field :image, accept: "image/*" %>
</div>
<div>
  <%= f.label :place %><br>
  <%= f.text_field :place %>
</div>
<div>
  <%= f.label :explaination %><br>
  <%= f.text_area :explaination %>
</div>
<div>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
    <div>
      <%= tag.label class: 'form-check-label' do %>
        <%= tag.check_box class: 'form-check-input' %>
        #<%= tag.text %>
      <% end %>
    </div>
  <% end %>
</div>

<%= f.submit "投稿" %>
<% end %>