<div class="wrapper">
  <div action="" method="post" name="Login_Form" class="form-signin">
    <h3 class="form-signin-heading">管理者ログイン</h3>
    <hr class="colorgraph"></hr>
    <%= form_with model: @admin, url: admin_session_path do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "アカウント名", class: "form-control", :type => "text" %>
    <%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード", class: "form-control", :type => "password" %>
    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %><br>
    <% end %>
    <%= f.submit "ログイン", class: "btn btn-outline-secondary btn-block" %>
    <%= render "admin/shared/links" %>
    <% end %>
  </div>
</div>