<!--フォロー一覧-->
<h2>フォロー's</h2>
<div class="row">
  <div class="col-md-8">
    <% if @users.exists? %>
    <table class="table table-bordered" style="table-layout:fixed;">
      <thead class="table-light text-center">
        <tr>
          <th>#</th>
          <th>名前</th>
          <th>フォロー数</th>
          <th>フォロワー数</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @users.each do |user| %>
          <% if user.is_deleted == false %>
          <tr class="align-middle">
            <td>
              <%= link_to public_user_path(user) do %>
              <%= image_tag user.get_profile_image, class: "rounded-circle" %>
              <% end %>
            </td>
            <td><%= link_to user.name, public_user_path(user) %></td>
            <td><%= user.followings.count %></td>
            <td><%= user.followers.count %></td>
            <td><%= link_to "詳細", public_user_path(user), class: "btn btn-secondary" %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <p>フォローしているユーザはいません</p>
    <% end %>
  </div>

  <!--サイドバー-->
  <div class="col-md-4">
    <div class="user-info">
      <%= render 'public/users/sidebar', user: @user %>
    </div>
  </div>
</div>

