<h2>投稿詳細</h2>
<!--投稿詳細-->
<div class="row">
  <div class="col-md-8">
    <div class="post">
      <div class="post-image">
        <p class="post-image-item">
          <%= link_to admin_post_path(@post) do %>
            <%= image_tag @post.get_image, class: "rounded" %>
          <% end %>
        </p>
        <!--いいねボタン。ログインしているときはいいねできる-->
        <div class="like-time">
          <p>
            <%= localize @post.created_at, format: :short %>&emsp;
            <i class="fas fa-thumbs-up fa-lg"></i>&emsp;<%= @post.likes.count %>いいね<!--ログインしていないときはいいねカウントのみ-->
          </p>
        </div>
      </div>
      <div class="post-info">
        <p>
          <%= link_to admin_user_path(@post.user) do %>
            <%= image_tag @post.user.get_profile_image, class: "rounded-circle border border-muted" %>
            <%= @post.user.name %>
          <% end %>
        </p>
        <p class="post-info-item"><%= @post.place %></p>
        <p><%= @post.explaination %></p>
        <p>
          <% @post.tags.each do |tag| %>
            #<%= tag.name %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="comment">
      <!--コメント数-->
      <div class="post_comments-counter">
        <%= render 'public/post_comments/counter', post: @post %>
      </div>
      <!--コメント一覧-->
      <div id="comments_area">
        <%= render 'admin/post_comments/post_comments', post: @post %>
      </div>
    </div>
  </div>
  <!--サイドバー-->
  <div class="col-md-4">
    <div class="sidebar">
      <div class="user-info">
        <%= render 'admin/users/sidebar', user: @post.user %>
      </div>
    </div>
  </div>
</div>