<!--新規会員登録ページ-->
<h2>新規登録</h2>
  <%= form_with model: @user, url: user_registration_path do |f| %>
  <div class="error-message">
    <%= render "public/shared/error_messages", resource: resource %>
  </div>

  <div class="form-group row">
    <div class="col-md-6 text-center fw-bold">
      <%= f.label :name %>
    </div>
    <div class="col-md-4 d-grid">
      <%= f.text_field :name, autofocus: true, :placeholder => "アカウント名", class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 text-center fw-bold">
      <%= f.label :university %>
    </div>
    <div class="col-md-4 d-grid">
      <%= f.text_field :university, :placeholder => "留学先大学名", class: "form-control"  %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 text-center fw-bold">
      <%= f.label :area %>
    </div>
    <div class="col-md-4 d-grid">
      <%= f.select :area, User.areas.keys, {include_blank: "選択して下さい"}, class: 'form-select' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 text-center fw-bold">
      <%= f.label :country_code %>
    </div>
    <div class="col-md-4 d-grid">
      <%= f.country_select :country_code, {include_blank: "選択して下さい"}, class: 'form-select' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 text-center fw-bold">
      <%= f.label :introduction %>
    </div>
    <div class="col-md-4 d-grid">
      <%= f.text_area :introduction, :placeholder => "よろしくお願いします。", class: "form-control"  %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 text-center fw-bold">
      <%= f.label :email %>
    </div>
    <div class="col-md-4 d-grid">
      <%= f.email_field :email, autocomplete: "email", :placeholder => "unifo@unifo.com", class: "form-control"  %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 text-center fw-bold">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %>
    </div>
    <div class="col-md-4 d-grid">
      <%= f.password_field :password, autocomplete: "new-password", :placeholder => "パスワード", class: "form-control"  %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6 text-center fw-bold">
      <%= f.label :password_confirmation %>
    </div>
    <div class="col-md-4 d-grid">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "確認用パスワード", class: "form-control"  %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "　登録　", class: "btn btn-outline-secondary" %>
  </div>
<% end %>
<div class="actions">
  <%= render "public/shared/links" %>
</div>