<!--ユーザ一覧ページ-->
<h2>ユーザ一覧</h2>
<div class="row">
  <table class="table table-bordered" style="table-layout:fixed;">
    <thead class="table-light text-center">
      <tr>
        <th>#</th>
        <th>名前</th>
        <th>大学名</th>
        <th>国名</th>
        <th>pwd登録日時</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody class="text-center">
      <% @users.each do |user| %>
      <tr class="align-middle">
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= image_tag user.get_profile_image, class: "rounded-circle" %>
          <% end %>
        </td>
        <td><%= link_to user.name, admin_user_path(user) %></td>
        <td><%= user.university %></td>
        <td><%= user.country_name %></td>
        <td><%= localize user.created_at, format: :short %></td>
        <td>
          <% if user.is_deleted == false %> <!--退会ステータスが有効の場合-->
            <p>
              <strong class="text-success">有効</strong>
            </p>
          <% else %>
            <p>
              <strong class="text-danger">退会済み</strong>
            </p>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>