<!--会員ログイン-->
<div class="wrapper">
  <div action="" method="post" name="Login_Form" class="form-signin">
    <h3 class="form-signin-heading">会員ログイン</h3>
    <hr class="colorgraph"></hr>
    <%= form_with model: @user, url: user_session_path do |f| %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス", class: "form-control", :type => "text" %>
    <%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード", class: "form-control", :type => "password" %>
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %><br>
      <% end %>
    <%= f.submit "ログイン", class: "btn btn-outline-secondary btn-block" %><br>
    <%= link_to "採用ご担当者様はこちらから", users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary" %><br>
    <%= render "public/shared/links" %>
    <% end %>
  </div>
</div>