<!--サイドバー-->
<!--投稿者の情報詳細-->
  <p>
    <%= link_to public_user_path(user) do %>
      <%= image_tag user.get_profile_image(30,30), class: "rounded-circle border border-muted" %>
      <%= user.name %>
    <% end %>
  </p>
  <p>留学先大学名：<%= user.university %></p>
  <p>地域名：<%= user.area %></p>
  <p>国名：<%= user.country_name %></p>
  <p>自己紹介：<br><%= user.introduction %></p>
  <div class="user-edit">
    <% if user == current_user %>
      <%= link_to edit_public_user_path(user) do %>
        <i class="far fa-edit fa-lg"></i>
      <% end %>
    <% end %>
  </div>

  <% if user.name != "採用ご担当者様" %>
    <p><%= link_to '', edit_public_user_path(user) %></p>
  <% end %>

  <p><%= link_to "いいね's", likes_public_user_path(user) %></p>
  <p><%= link_to "フォロー's", public_user_followings_path(user) %>：<%= user.followings.count %></p>
  <p><%= link_to "フォロワー's", public_user_followers_path(user) %>：<%= user.followers.count %></p>
  <!--フォロー機能-->
  <% if user != current_user %>
    <% if current_user.following?(user) %>
      <%= link_to "フォロー外す", public_user_relationships_path(user.id), method: :delete, class: "btn btn-outline-secondary" %>
    <% else %>
      <%= link_to "フォローする", public_user_relationships_path(user.id), method: :post, class: "btn btn-secondary" %>
    <% end %>
  <% elsif user.name != "採用ご担当者様" %>
    <%= link_to "退会手続きへ", public_unsubscribe_path(current_user), class: "btn btn-outline-secondary" %>
  <% else %>
  <% end %>