<!--いいね一覧-->
<h2>いいね's</h2>
<div class="row">
  <div class="col-md-8">
    <% if @like_posts %>
    <table class="table table-bordered" style="table-layout:fixed;">
      <thead class="table-light text-center">
        <tr>
          <th>#</th>
          <th>名前</th>
          <th>場所</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @like_posts.each do |like_post| %>
          <% if like_post.user.is_deleted == false %>
          <tr class="align-middle">
            <td>
              <%= link_to public_post_path(like_post) do %>
              <%= image_tag like_post.get_image, class: "rounded" %>
              <% end %>
            </td>
            <td><%= link_to like_post.user.name, public_user_path(like_post.user) %></td>
            <td><%= like_post.place %></td>
            <td><%= link_to "詳細", public_post_path(like_post), class: "btn btn-secondary" %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <p>いいねしている投稿はありません</p>
    <% end %>
  </div>

  <!--サイドバー-->
  <div class="col-md-4">
    <div class="user-info">
      <%= render 'public/users/sidebar', user: @user %>
    </div>
  </div>
</div>




