  <!--投稿者の投稿一覧-->
  <% if @user == current_user %>
    <h2>マイページ</h2>
  <% else %>
    <h2><%= @user.full_name %></h2>
  <% end %>
  <div class="row">
    <div class="col-md-9">
      <% @posts.each do |post| %>
      <div>
        <%= link_to public_post_path(post) do %>
          <%= image_tag post.get_image(250,250) %>
        <% end %>
        <!--いいねボタン。ログインしているときはいいねできる-->
        <% if user_signed_in? %>
          <p id="like_buttons_<%= post.id %>">
            <%= render "public/likes/like", post: post %>
          </p>
        <% else %>
          <i class="fas fa-thumbs-up fa-2x"></i><%= post.likes.count %><!--ログインしていないときはいいねカウントのみ-->
        <% end %>

        <p><%= post.place %></p>
        <p><%= post.explaination %></p>
        <p>
          <%= render 'public/post_comments/counter', post: post %>
          <%= link_to "コメントする", public_post_path(post.id) %>
        <p>
        <% if post.user == current_user %>
          <%= link_to "編集", edit_public_post_path(post.id) %>
          <%= link_to "削除", public_post_path(post.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        <% end %>
      </div>
      <% end %>
    </div>

    <!--サイドバー-->
    <div class="col-md-3">
      <p><%= link_to "新規投稿", new_public_post_path %></p>
      <%= render 'public/posts/sidebar', user: @user %>
    </div>
  </div>
